
@{
    ViewBag.Title = "Вступна компанія | DUT";
}

<div class="x_panel">
    <div class="x_title">Вступна компанія > Редагування</div>
    <div class="x_content">
        <table class="table">
            <thead>
                <tr>   
                    <th><input type="checkbox" class="form-control" style="width: 15px; height: 15px;"/></th>
                    <th>П.І.Б</th>
                    <th>ЗНО (1)</th>
                    <th>ЗНО (2)</th>
                    <th>ЗНО (3)</th>
                    <th>Атестат</th>
                    <th>Бал</th>
                    <th>Пільги</th>
                    <th>Спеціальності</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
