@model  IEnumerable<DashBoard.Models.BaseFormModel>
<select id="@ViewBag.IdName" class="form-control" size="@ViewBag.SizeList">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
