@model IEnumerable<DashBoard.Models.BaseFormModel>
<select id="@ViewBag.IdName" class="form-control" style="margin-bottom: 15px;">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>