
@{
    ViewBag.Title = "Адміністрування | Університет | Структура університету";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Структура університету</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <select class="form-control">
                    <option>Інститути</option>
                    <option>Факультети</option>
                </select>
                <select></select>
            </div>
        </div>
    </div>
</div>

