@model IEnumerable<DashBoard.Models.AccessEditFormModel>
@{
    ViewBag.Title = "UniDush | Редагування доступу";
}

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
                <h4 class="modal-title" id="myModalLabel">Додати доступ</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-primary">Додати</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Користувачі | Доступ</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @* Колонка пользователей системы *@
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Користувачі</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="height: 500px">
                                <select id="listUsers" class="list-default form-control" size="10">
                                    @foreach (var m in Model)
                                    {
                                        <option value="@m.UserName">@m.FullName (@m.UserName)</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @* Колонка Ролей *@
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Ролі</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="height: 500px">
                                <select id="listAccess" class="list-default form-control" size="10"></select>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="position: absolute; bottom: 0;">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <button value="Додати" class="form-control btn-success" data-toggle="modal" data-target="#addModal">Додати</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <button value="Видалити" class="form-control btn-danger">Видалити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Колонка доступа к функциям *@
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Доступ до функцій</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScrJquery{
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(function() {
            $("#listUsers").change(function() {
                var userName = $(this).val();
                var test = '@Url.Action("AccessGetRoles", "Permission")/' + userName;
                $.ajax({
                    type: 'GET',
                    url: test,
                    success: function (data) {
                        if (data.model === 'failed')
                            window.requestNotifyComplete(data);
                        else
                            $('#listAccess').replaceWith(data);
                    },
                    error: function(data) {
                        $('body').html(data.responseText);
                    }
                });
            });
        })
    </script>
}



